<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- config.html 추가하여 css, script 설정 -->
<head th:insert="/fragments/config.html">
<title>인하공업전문대학</title>
</head>
<th:block
	th:replace="~{fragments/header :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<h3 class="m-3">강의 목록</h3>
		<div class="container-fluid">
			<table class="table">
				<thead class="thead-light">
					<tr class="text-center">
						<th scope="col">번호</th>
						<th scope="col">강의명</th>
						<th scope="col">담당교수</th>
						<th scope="col">입장</th>
					</tr>
				</thead>

				<tbody>
					<tr class="text-center" th:each="list : ${studentList}">
						<th scope="row"><span th:text="${list.seq}"></span></th>
						<td><span th:text="${list.subName}"></span></td>
						<td><span th:text="${list.empName}"></span></td>
						<td><a class="btn btn-danger" th:href="@{'" style="font-size: 10px;">입장</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</th:block>
</th:block>
</html>