<!DOCTYPE html>
<html>
<head th:insert="/fragments/config.html">
<meta charset="UTF-8">
	<title>게시판 작성</title>
</head>
<body>
	<div class="container">
		<h2>게시판 작성</h2>
		<form id="frm" name="frm" method="post" action="/boardInsert">
			<table class="board_detail">
				<tr>
					<td>제목</td>
					<td><input type="text" id="title" name="title"/></td>
				</tr>
				<tr>
					<td colspan="2">
						<textarea id="content" name="content"></textarea>
					</td>
				</tr>
			</table>
			<input type="submit" id="submit" value="저장" class="btn">
		</form>
	</div>	
</body>
</html>