<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- detail.js 파일 적용 -->
<script type="text/javascript" src="/js/detail.js"></script> 
<!-- config.html 추가하여 css, script 설정 -->
<head th:insert="/fragments/config.html">
<title>인하공업전문대학</title>
</head>
<th:block
	th:replace="~{fragments/header :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div class="container-fluid">
			<h3 class="m-3">글 상세보기</h3>
			<div class="card">
				<div class="card-header">
					<div class="card-title d-flex justify-content-between">
						<h5 class="m-2" th:text="@{${post.boardTitle}}"></h5>
						<h5 class="m-2" th:text="@{${post.boardWriter}}"></h5>
					</div>
					<p class="card-text">
						<small class="text-muted" th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></small>
						<img src="/img/icon_like_small_on.png" alt="" th:onclick="javascript:btnGoodCnt([[${post.boardId}]], [[${session.id}]])" />&nbsp;<span id="goodCnt" th:text="${post.goodCnt}"></span>
					</p>
				</div>
				<div class="card-body">
					<textarea name="boardContent" class="form-control summernote"
						id="boardContent" th:text="${post.boardContent}"></textarea>

					<div class="mt-3" th:if="${post.fileId != null}">
						<strong>첨부파일 : </strong> <a
							th:href="@{/download/{fileId}(fileId=${post.fileId})}"
							th:text="${file.origFilename}"></a>
					</div>
				</div>
			</div>
		</div>

		<!-- 글 수정 / 삭제 -->
		<div class="row mt-3 justify-content-end" th:if="${session.name} == ${post.boardWriter}">
				<div class="col-auto mr-auto"></div>
				<div class="col-auto">
					<a class="btn btn-info" th:href="@{'/post/edit/' + ${post.boardId}}"
						role="button">수정</a>
				</div>
				<div class="col-auto">
					<form id="delete-form" th:action="@{'/post/' + ${post.boardId}}"
						method="post">
						<input type="hidden" name="_method" value="delete" />
						<button id="delete-btn" type="submit" class="btn btn-danger">삭제</button>
					</form>
				</div>
		</div>

		<!-- 댓글 -->
		<form th:action="@{'/post/' + ${post.boardId}}" method="post" enctype="multipart/form-data">
			<input type="hidden" id="commentWriter" name="commentWriter" th:value="${session.name}"/>
			<div class="card m-3">
				<div class="card-header">댓글 작성</div>
				<div class="card-body">
					<textarea class="form-control" rows="2" id="commentContent" name="commentContent"></textarea>
				</div>
				<div class="card-footer">
					<button class="btn-primary" role="button" type="submit">등록</button>
				</div>
			</div>
		</form>

		<div class="card m-3">
			<div class="card-header">댓글 리스트</div>
			<ul id="comment--box" class="list-group">
				<li th:each="comment : ${commentList}" id="comment" class="list-group-item d-flex justify-content-between"
					th:if="${comment.boardId} == ${post.boardId}">
					<div>
						<div th:text="${comment.commentWriter}"></div>
						<div th:utext="'&nbsp;&nbsp;&nbsp;-&nbsp;' + ${comment.commentContent}" style="color: #787878;"></div>
					</div>
				</li>
			</ul>
		</div>
			<script>
		        $(document).ready(function(){
		            $('.summernote').summernote({
		            	tabsize: 2,
		            	height: 300,
		            	minheight: null,
		            	maxheight: null,
		            	focus: true
		            });
		            // 읽기전용
		            $('.summernote').summernote('disable');
		            // 수정 / 삭제 버튼 작성한 사용자가 아닌 경우 보여지면 안됌
		            // CDATA
		            // userId / 작성자Id
		            // 로그인 사용자와 작성자 비교
		            var userId = '[[ ${session.id} ]]';
		            var createSeq = $('#createSeq').val();
		            console.log("userId", userId);
		            console.log("createSeq", $('#createSeq').val());
		            if(userId != createSeq)
		            	$('#updeDiv').hide();
		        });
   		 	</script>
	</th:block>
</th:block>
</html>