<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- config.html 추가하여 css, script 설정 -->
<head th:insert="/fragments/config.html">
<title>게시판</title>
</head>
<th:block
	th:replace="~{fragments/header :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<h3 class="m-3">강의추가</h3>
		<div class="container-fluid">
			<form action="/subjectPost" method="post" enctype="multipart/form-data">
				<div class="form-group row">
					<input type="hidden" id="createSeq" name="createSeq" th:value="${session.id}" >
					<input type="hidden" id="modifySeq" name="modifySeq" th:value="${session.id}" >
					<input type="hidden" id="empName" name="empName" th:value="${session.name}" >
					<input type="hidden" id="groupSeq" name="groupSeq" th:value="${session.groupSeq}" >
					<input type="hidden" id="compSeq" name="compSeq" th:value="${session.compSeq}" >
					<input type="hidden" id="bizSeq" name="bizSeq" th:value="${session.bizSeq}" >
					<label for="inputTitle" class="col-sm-2 col-form-label"><strong>강의 이름</strong></label>
					<div class="col-sm-3">
						<input type="text" id="subName" name="subName" class="form-control">
					</div>
				</div>
				<div class="form-group row">
					<label for="gubun" class="col-sm-2 col-form-label"><strong>이수구분</strong></label>
					<div class="col-sm-10 mt-2">
						<div class="form-check form-check-inline">
							<input class="form-check-input mt-1" type="radio" name="gubun" id="gubun" value="전공필수">
								<label class="form-check-label" for="role">전공필수</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input mt-1" type="radio" name="gubun" id="gubun" value="전공선택"> 
							<label class="form-check-label" for="role">전공선택</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input mt-1" type="radio" name="gubun" id="gubun" value="교양"> 
							<label class="form-check-label" for="role">교양</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="gubun" class="col-sm-2 col-form-label"><strong>학점</strong></label>
					<div class="col-sm-10 mt-2">
						<div class="form-check form-check-inline">
							<input class="form-check-input mt-1" type="radio" name="hakjum" id="hakjum" value="1">
							<label class="form-check-label">1</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input mt-1" type="radio" name="hakjum" id="hakjum" value="2"> 
							<label class="form-check-label">2</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input mt-1" type="radio" name="hakjum" id="hakjum" value="3"> 
							<label class="form-check-label">3</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="gubun" class="col-sm-2 col-form-label"><strong>시작일자</strong></label>
					<div class="col-sm-3">
						<input type="date" id="sDate" name="sDate" class="form-control">
					</div>
				</div>
				<div class="form-group row">
					<label for="gubun" class="col-sm-2 col-form-label"><strong>종료일자</strong></label>
					<div class="col-sm-3">
						<input type="date" id="eDate" name="eDate" class="form-control">
					</div>
				</div>
				<div class="form-group row">
					<label for="gubun" class="col-sm-2 col-form-label"><strong>수강인원</strong></label>
					<div class="col-sm-10">
						<input type="text" id="stuCnt" name="stuCnt" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col-auto mr-auto"></div>
					<div class="col-auto">
						<input class="btn btn-primary" type="submit" role="button" value="글쓰기">
					</div>
				</div>
			</form>
		</div>
	</th:block>
</th:block>
</html>