<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- boardList.js 파일 적용 -->
<script type="text/javascript" src="/js/subjectList.js"></script>
<!-- config.html 추가하여 css, script 설정 -->
<head th:insert="/fragments/config.html">
<title>인하공업전문대학</title>
</head>
<th:block
	th:replace="~{fragments/header :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<h3 class="m-3">강의 목록</h3>
		<div class="container-fluid">
			<form class="form-inline d-flex justify-content-end">
				&nbsp; 
				<select id="searchType" class="form-select mb-2"
					style="width: 90px;"
					aria-label="Default select example">
					<option value="all">전체</option>
					<option value="subname">강의이름</option>
					<option value="empname">교수명</option>
				</select>
				<div class="form-group mx-sm-3 mb-2">
					<label for="searchText" class="sr-only">검색</label> <input
						type="text" class="form-control" id="searchText" name="searchText"
						th:value="${param.searchText}">
				</div>
				<button type="button" class="btn btn-primary mb-2"
					onclick="search();">검색</button>
			</form>
			<table class="table">
				<thead class="thead-light">
					<tr class="text-center">
						<th scope="col">번호</th>
						<th scope="col">이수구분</th>
						<th scope="col">강의명</th>
						<th scope="col">학점</th>
						<th scope="col">담당교수</th>
						<th scope="col">수강인원</th>
						<th scope="col">강의추가</th>
					</tr>
				</thead>

				<tbody>
					<tr class="text-center" th:each="list : ${subjectList}">
						<th scope="row"><span th:text="${list.seq}"></span></th>
						<td><span th:text="${list.gubun}"></span></td>
						<td><span th:text="${list.subName}"></span></td>
						<td><span th:text="${list.hakjum}"></span></td>
						<td><span th:text="${list.empName}"></span></td>
						<td><span th:text="${list.stuCnt}"></span></td>
						<td>
							<a type="submit" class="btn btn-danger" 
								th:onclick="javascript:btnSubjectAdd([[${list.seq}]], [[${session.id}]], [[${session.name}]], [[${list.subName}]] ), msg()" 
								style="font-size: 10px;">추가</a>
						</td>
					</tr>
				</tbody>
			</table>
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item"
						th:classappend="${1 == subjectList.pageable.pageNumber + 1 } ? 'disabled'">
						<a class="page-link" href="#"
						th:href="@{/subjectList(page=${subjectList.pageable.pageNumber - 1}, 
							searchType = ${param.searchType}, 
							searchText = ${param.searchText} )}"
						tabindex="-1" aria-disabled="true">Previous</a>
					</li>
					<li class="page-item"
						th:classappend="${i == subjectList.pageable.pageNumber + 1 } ? 'disabled'"
						th:if="${subjectList.totalPages}>=1"
						th:each="i : ${#numbers.sequence(startPage, endPage)}"><a
						class="page-link" href="#"
						th:href="@{/subjectList(page=${i - 1}, searchType = ${param.searchType}, searchText = ${param.searchText} )}"
						th:text="${i}">1</a></li>
					<li class="page-item"
						th:classappend="${subjectList.totalPages == subjectList.pageable.pageNumber + 1 } ? 'disabled'">
						<a class="page-link" href="#"
						th:href="@{/subjectList(page=${subjectList.pageable.pageNumber + 1}, 
							searchType = ${param.searchType}, 
							searchText = ${param.searchText} )}">Next</a>
					</li>
				</ul>
			</nav>
			<div id="subjectAdd">
				<div class="row">
					<div class="col">
						<a class="btn btn-primary" th:href="@{/subjectPost}" role="button" >강의추가</a>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</th:block>
<script>
	$(document).ready(function() {
		var role = '[[ ${session.role} ]]';
		if(role != "ROLE_PROF")
			$('#subjectAdd').hide();
	});
	function msg(){
		alert("강의를 추가했습니다.");
	}
</script>
</html>