<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<footer class="py-5 bg-dark fixed-bottom">
	<div class="container">
		<div class="d-flex align-items-center justify-content-between">
			<div class="text-muted" style="font-size: 30px">인하공업전문대학</div>
			<div class="text-muted">
				<div>22212 인천광역시 미추홀구 인하로100 인하공업전문대학</div>
				<div>TEL 032-870-2114</div>
			</div>
					
			<div>
				<nav aria-label="breadcrumb" class="mt-3">
					<ol class="breadcrumb bg-dark">
						<li class="breadcrumb-item">
							<a href="https://www.inhatc.ac.kr/sites/kr/index.do" 
								target="_blank">대표 홈페이지</a>
						</li>
						<li class="breadcrumb-item">
							<a href="https://portal.inhatc.ac.kr/user/login.face" 
								target="_blank">인하공전 포털</a>
						</li>
						<li class="breadcrumb-item">
							<a href="https://icims.inhatc.ac.kr/intra/login.jsp" 
								target="_blank">종합정보시스템</a>
						</li>
						<li class="breadcrumb-item">
							<a href="https://library.inhatc.ac.kr/Cheetah/INHA/Index/"
								target="_blank">도서관</a>
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</footer>
</html>