<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
<style>
	.header {
		background-color: #00aaff;
	}
	.sidebar {
		color: black;
		text-align: center;
	}
	@media (max-width: 1200px){
		.dis{
			display:none;
		}
	}
	
	.user__name {
		font-size: 13px;
		color : #e6e6e6;
	}
</style>
	<body>
		<div class="d-flex" id="wrapper">
			<!-- Sidebar-->
<!--  
			<div class="border-right dis" id="sidebar-wrapper" style="height: 100%; width: 20%; background-color: #191919;">
				<div class="sidebar-heading" style="padding: 0.875rem 1.25rem; font-size: 1.2rem; height: 10%; background-color: white;">
-->
			<div id="sidebar-wrapper" class="border-right dis" style="height: 100%; width: 20%; background-color: white;">
				<div class="sidebar-heading" style="padding: 0.875rem 1.25rem; font-size: 1.2rem; background-color: white;">
					<div class="row">
						<div class="col">
							<img alt="인하공업전문대학" src="/img/logo2.png" style=" width:100%;">
						</div>
					</div>
				</div>
				<div class="list-group list-group-flush" style="height:100%; width: 100%;">
					<a class="list-group-item list-group-item-action sidebar" href="/studentList">내 강의실</a>
					<a class="list-group-item list-group-item-action sidebar" href="/subjectList">강의 목록</a>
					<a class="list-group-item list-group-item-action sidebar" href="/boardList">토론방</a>
				</div>
			</div>
			
			<!-- Page Content-->
			<div id="page-content-wrapper" style= "width: 100%;">
				<nav class="navbar-light  header justify-content-between"
					style="height: 70px; position: relative; display: flex; flex-wrap: wrap; 
					align-items: center; justify-content: space-between; padding: 0rem 1rem;">
					<a class="nav-link" href="/index" style="color: black">Home</a>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div>
						<p class="user__name mt-3" th:utext="${session.name} + '<br/>' + ${session.username}"></p>
					</div>
					
					<!-- 로그아웃 -->
					<div> 
					<a href="/logout"
						onclick="document.getElementById('logout-form').submit();"
						class="btn btn-outline-success">Logout</a>
						<form id="logout" action="<c:url value='/logout'/>" method="POST">
						<input name="${_csrf.parameterName}" type="hidden"
							value="${_csrf.token}" class="form-control me-2"/>
						</form>
					</div>
				</nav>
				<div class="container-fluid col-11">
					<th:block th:insert="${content}"></th:block>
				</div>
			</div>
		</div>
	</body>
</th:block>
</html>