<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	.block{
		display: block;
		position: sticky;
	}
	.p_fixed{
		position: fixed;
		height: 100vh;
		display: block;
	}
	.sidebar_text{
		text-align: center;
	}
</style>
<body>
	<div class="container-fluid">
		<div class="row block" style="top: 0px; left: 0px;">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container-fluid offset-2">
					<a class="navbar-brand" href="/index">Home</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
			
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<span class="navbar-text" style="color: gray;">사용자 이름</span>
							</li>
						</ul>
						<!-- 로그아웃 -->
						<a href="/logout" onclick="document.getElementById('logout-form').submit();" class="btn btn-outline-success">Logout</a>
						<form id="logout" action="<c:url value='/logout'/>" method="POST" class="d-flex">
							<input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}" class="form-control me-2" />
						</form>
					</div>
				</div>
			</nav>
		</div>
		
		<div class="row">
			<div class="col-2 p_fixed sidebar_text" style="left: 0; background-color: gray;">
			</div>
			<div class="col-10 p_fixed" style="right: 0; background-color: dimgray;">
			</div>
		</div>
	</div>
</body>
</html>