<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="/fragments/config.html">
<title>인하공업전문대학</title>
</head>
<th:block
	th:replace="~{fragments/header :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<h3 class="m-3">주차 정보</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<a class="float-right btn btn-primary" th:href="@{/weekPost}" role="button">주차추가</a>
				</div>
			</div>
			
			<div class="row justify-content-center">
				<table class="table table-bordered" style="width: 70%;" th:each="weekPost : ${weekList}">
					<thead class="thead-light">
						<tr class="text-center"> 
							<th colspan="4" th:utext="${weekPost.weekNumber} + ' 주차<br/>' +
 								${weekPost.startDate} + ' ~ ' + ${weekPost.endDate}">
							</th>
							<th><a class="btn" th:href="@{'/weekPost/weekEdit/' + ${weekPost.weekId}}">+</a></th>
						</tr>
					</thead>
					
					<tbody>
						<tr class="text-center">
							<th scope="col" style="width: 15%;">영상</th>
							<td>1</td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
						</tr>
						<tr class="text-center">
							<th scope="col" style="width: 15%;">자료</th>
							<td>1</td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
						</tr>
						<tr class="text-center">
							<th scope="col" style="width: 15%;">과제</th>
							<td>1</td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item"
						th:classappend="${1 == weekList.pageable.pageNumber + 1 } ? 'disabled'">
						<a class="page-link" href="#"
						th:href="@{/weekList(page=${weekList.pageable.pageNumber - 1}, 
							searchType = ${param.searchType}, 
							searchText = ${param.searchText} )}"
						tabindex="-1" aria-disabled="true">Previous</a>
					</li>
					<li class="page-item"
						th:classappend="${i == weekList.pageable.pageNumber + 1 } ? 'disabled'"
						th:if="${weekList.totalPages}>=1"
						th:each="i : ${#numbers.sequence(startPage, endPage)}"><a
						class="page-link" href="#"
						th:href="@{/weekList(page=${i - 1}, searchType = ${param.searchType}, searchText = ${param.searchText} )}"
						th:text="${i}">1</a></li>
					<li class="page-item"
						th:classappend="${weekList.totalPages == weekList.pageable.pageNumber + 1 } ? 'disabled'">
						<a class="page-link" href="#"
						th:href="@{/weekList(page=${weekList.pageable.pageNumber + 1}, 
							searchType = ${param.searchType}, 
							searchText = ${param.searchText} )}">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</th:block>
</th:block>
</html>