<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="/fragments/config.html">
	<title>인하공업전문대학</title>
</head>
<style>
	h1, h3{
		color: white;
	}
	.img{
		background-image: url("/img/inha.jpeg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	.logincard{
		opacity: 0.9;
		background-color: skyblue;
	}
	
	.logintitle{
		color: white;
		font-size: 20px;
	}
	
	.loginbtn{
		background-color: #008cff;
		color: white;
	}
</style>
<body class="img">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row mt-5 mb-5">
						<h1>인하공업전문대학</h1>
						<h3>INHA TECHNICAL COLLAGE</h3>
					</div>
					
					<div class="row">
						<div class="offset-lg-2 col-lg-3">
							<div class="card shadow mt-5 logincard ">
							<form action="/login" method="POST">
								<div class="card-header">
									<h3 class="my-2 logintitle">로그인</h3>
								</div>
								
								<div class="card-body">
										<div class="form-group col-lg-8">
											<!-- 아이디 입력란 -->
											<input class="form-control mb-1" name="username" type="text" placeholder="ID" />
										</div>
										
										<div class="form-group col-lg-8">
											<!-- 비밀번호 입력란 -->
											<input class="form-control mb-1" name="password" type="password" placeholder="Password" />
										</div>
									</div>
								
								<div class="card-footer">
									<div class="row justify-content-between">
										<div class="col-lg-4">
											<button class="btn loginbtn">로그인</button>
										</div>

										<div class="col-lg-4 mt-2">
											<a href="joinForm" style="color: white;">회원가입</a>
										</div>
									</div>
								</div>
							</form>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		
		<footer th:insert="/fragments/footer"></footer>
	</div>
</body>
</html>